body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:lightslategray
    transition: background-color 0.5s ease;
}
h1 {
    color: darkblue;
}
button {
    padding: 10px 15px;
    border: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: darkred;
}
.contact-info {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact-info a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contact-info a:hover {
    color: #ff6600;
}